:root {
  --past: red;
  --past-border: 3px solid rgb(68, 3, 21);
  --present: #74ca74;
  --present-border: 3px solid #315031;
  --future: #add8e6;
  --future-border: 3px solid #201799;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: none;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}


.row {
  width: 100px;
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  height: 100px;
  width: 110%;
  background-color: var(--past);
  margin: 5px;
  border-left: var(--past-border);
  border-radius: 3%;
  color: white;
}


.present {
  height: 100px;
  width: 110%;
  background-color: var(--present);
  margin: 5px;
  border-left: var(--present-border);
  border-radius: 3%;
  color: white;
}

.future {
  height: 100px;
  width: 110%;
  background-color: var(--future);
  margin: 5px;
  border-left: var(--future-border);
  border-radius: 3%;
  color: white;
}

.past, 
.present, 
.future:hover {
  cursor: pointer;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  height: 100px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

section {
  display: flex;
  align-items: center;
}

aside {
  margin: 10px;
  width: 70px;
}

